name: Forecast Approval Trigger

on:
  push:
    branches:
      - 'release**'     # Trigger when PR is merged to any release* branch

jobs:
  trigger-endpoint:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the PR merge commit
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Identify changed files in the merge commit
      - name: Get changed files
        id: changes
        run: |
          git fetch --depth=2 origin ${{ github.ref }}
          CHANGED_FILES=$(git diff --name-only HEAD~1 HEAD)
          METADATA_FILE=$(echo "$CHANGED_FILES" | tr ' ' '\n' | grep 'forecast_metadata.json$' | head -n 1)
          echo "changed=$METADATA_FILE" >> $GITHUB_OUTPUT
          echo "Changed files: $METADATA_FILE"

      # Step 3: Read forecast_metadata.json if changed
      - name: Extract metadata
        id: metadata
        run: |
          # Find the first changed file that ends with forecast_metadata.json
          # METADATA_FILE=$(echo "${{ steps.changes.outputs.changed }}" | tr ' ' '\n' | grep 'forecast_metadata.json$' | head -n 1)
          METADATA_FILE="${{ steps.changes.outputs.changed }}"
          if [ -z "$METADATA_FILE" ]; then
            echo "No forecast_metadata.json file found in the changed files. Exiting."
            exit 0
          fi

          echo "Metadata file found at: $METADATA_FILE"
          echo "Metadata file changed. Extracting values..."
          MODEL_VERSION=$(jq -r '.modelContainerVersion' $METADATA_FILE)
          ANALYST_BRANCH=$(jq -r '.branchName' $METADATA_FILE)

          echo "model_version=$MODEL_VERSION" >> $GITHUB_OUTPUT
          echo "analyst_branch=$ANALYST_BRANCH" >> $GITHUB_OUTPUT
          echo "model_version=$MODEL_VERSION"
          echo "analyst_branch=$ANALYST_BRANCH"